.p-2 {
	padding: 2em;
}
.mr-half {
	margin-right: .5em;
}
.mb-1 {
	margin-bottom: 1.5em  !important;
}
.mb-3 {
	margin-bottom: 3em  !important;
}
.mb-half {
	margin-bottom: .5em  !important;
}
.message-body.is-white {
	background-color: white;
}
.dash {
	line-height: 2.8em;
}
